# Randomized a Dataframe

In [4]:
# we would use shuffle to randomize the data
import pandas as pd
from random import shuffle

In [5]:
df = pd.read_csv('data/geography.csv',sep=";")
df.head()

,GeographyID,ZipCodeBKey,County,City,State,Country,ZipCode
0,57446,11757-2827,Suffolk,Lindenhurst,NY,United States,11757 57447
1,260009,10021-3235,New York,Manhattan,NY,United States,10021 105177
2,98509,10302-2327,Richmond,Staten Island,NY,United States,10302 66668
3,269192,07030-4412,Hudson,Hoboken,NJ,United States,07030 269924
4,76949,11101-5314,Queens,Queens,NY,United States,11101 40370

In [6]:
#shuffle to every column
for col in df.columns:
    columntoRandom = df[col]
    shuffle(columntoRandom)

C:\ProgramData\Anaconda3\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [7]:
#check the resutls
df.head()

,GeographyID,ZipCodeBKey,County,City,State,Country,ZipCode
0,31044,10021-3235,Nassau,Manhattan,NY,United States,11575 234485
1,115383,11208-3592,Kings,Madrid,NY,United States,11219 23316
2,115708,10451-6407,Queens,Old Bridge,NY,United States,11201 69286
3,250314,11377-1517,Kings,Queens,NY,United States,10019 282559
4,111353,11377-5120,Queens,Brooklyn,NY,United States,08857 294415

In [12]:
#safe
df2_final.to_csv (r'data\geography_randomice.csv',sep=";", index = None, header=True)

### End