![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# The Sakila Database

One of the best example databases out there is the <a href="https://dev.mysql.com/doc/sakila/en/">Sakila Database</a>, which was originally created by MySQL and has been open sourced under the terms of the BSD License.

The Sakila database is a nicely normalised schema modelling a DVD rental store, featuring things like films, actors, film-actor relationships, and a central inventory table that connects films, stores, and rentals.

<img width="1200px" src="https://user-images.githubusercontent.com/7065401/58504872-fa243b00-8161-11e9-85ed-4b7d8d7ce9f7.png" />

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

%matplotlib inline

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Loading our data:

In [3]:
conn = sqlite3.connect('data/sakila.db')

df = pd.read_sql('''
    SELECT
        rental.rental_id, rental.rental_date, rental.return_date,
        customer.last_name AS customer_lastname,
        store.store_id,
        city.city AS rental_store_city,
        film.title AS film_title, film.rental_duration AS film_rental_duration,
        film.rental_rate AS film_rental_rate, film.replacement_cost AS film_replacement_cost,
        film.rating AS film_rating
    FROM rental
    INNER JOIN customer ON rental.customer_id == customer.customer_id
    INNER JOIN inventory ON rental.inventory_id == inventory.inventory_id
    INNER JOIN store ON inventory.store_id == store.store_id
    INNER JOIN address ON store.address_id == address.address_id
    INNER JOIN city ON address.city_id == city.city_id
    INNER JOIN film ON inventory.film_id == film.film_id
    ;
''', conn, index_col='rental_id', parse_dates=['rental_date', 'return_date'])

In [6]:
df.count()

rental_date              16044
return_date              15861
customer_lastname        16044
store_id                 16044
rental_store_city        16044
film_title               16044
film_rental_duration     16044
film_rental_rate         16044
film_replacement_cost    16044
film_rating              16044
dtype: int64

In [7]:
df.head

<bound method NDFrame.head of                   rental_date         return_date customer_lastname  store_id  \
rental_id
1         2005-05-24 22:53:30 2005-05-26 22:04:30            HUNTER         1
2         2005-05-24 22:54:33 2005-05-28 19:40:33           COLLAZO         2
3         2005-05-24 23:03:39 2005-06-01 22:12:39           MURRELL         2
4         2005-05-24 23:04:41 2005-06-03 01:43:41             PURDY         1
5         2005-05-24 23:05:21 2005-06-02 04:33:21            HANSEN         2
...                       ...                 ...               ...       ...
16045     2005-08-23 22:25:26 2005-08-25 23:54:26             WHITE         1
16046     2005-08-23 22:26:47 2005-08-27 18:02:47             KELLY         2
16047     2005-08-23 22:42:48 2005-08-25 02:48:48             ELLIS         2
16048     2005-08-23 22:43:07 2005-08-31 21:33:07          HAMILTON         1
16049     2005-08-23 22:50:12 2005-08-30 01:01:12            CAUSEY         2

          rental_store_city            film_title  film_rental_duration  \
rental_id
1                Lethbridge       BLANKET BEVERLY                     7
2                 Woodridge          FREAKY POCUS                     7
3                 Woodridge         GRADUATE LORD                     7
4                Lethbridge         LOVE SUICIDES                     6
5                 Woodridge       IDOLS SNATCHERS                     5
...                     ...                   ...                   ...
16045            Lethbridge     COMANCHEROS ENEMY                     5
16046             Woodridge        VOYAGE LEGALLY                     6
16047             Woodridge       ILLUSION AMELIE                     4
16048            Lethbridge  HUNCHBACK IMPOSSIBLE                     4
16049             Woodridge            MOB DUFFEL                     4

           film_rental_rate  film_replacement_cost film_rating
rental_id
1                      2.99                  21.99           G
2                      2.99                  16.99           R
3                      2.99                  14.99           G
4                      0.99                  21.99           R
5                      2.99                  29.99       NC-17
...                     ...                    ...         ...
16045                  0.99                  23.99           R
16046                  0.99                  28.99       PG-13
16047                  0.99                  15.99           R
16048                  4.99                  28.99       PG-13
16049                  0.99                  25.99           G

[16044 rows x 10 columns]>